<div class="main-bg">
    <!-- Login Form -->
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card shadow">
            <div class="card-title text-center border-bottom">
              <h2 class="p-3"> Login</h2>
            </div>
            <div class="card-body">
              <form [formGroup]="loginform">
                <div class="mb-4">
                  <label for="username" class="form-label">Username/Email</label>
                  <input type="text" class="form-control" id="username" formControlName="username"  />
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" formControlName="password"   />
                </div>
                <div class="d-grid">
                  <input type="button" (click)="onLogin()" class="btn text-light main-bg2 bg-warning" value="Login"/>
                </div>
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>







