/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

label {
    font-weight: 500;
}
.d-grid {
    display: flex !important;
    justify-content: flex-end !important;
}
.shadow {
    box-shadow: none !important;
}